html,body{
    margin: 0;
    font-size: 20px;
}

#submit{
    
    background-color: black;
    color: white;
    height: 25px;
    width: 250px;
    margin-top: 30px;
}
#id1{
    margin-top: 25px;
}
#id2{
    margin-top: 25px;
}
#display1{
    margin-top: 25px;

}
#display2{
    margin-top: 25px;

}